body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  background: url(file:///Users/connie/whats-for-dinner-din/assets/burger-friends.jpg);
  background-size: cover;
  overflow: hidden;
  color: black;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: space-between;
  justify-content: stretch;
}

.hidden {
  visibility: hidden;
}

#header {
  background-color: #0fb9b1;
  padding: 15px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: 30px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recipe-button {
  color: black;
  background-color: rgba(225, 225, 225, .9);
  margin-right: 30px;
  border: 0;
  border-radius: 10px;
  padding: 10px;
}

#boxes {
  margin-top: 8px;
  margin-left: 90px;
  margin-right: 100px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  color: black;
}

.box {
  padding: 45px;
  height: 310px;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(225, 225, 225, .9);
}

.box:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-self: center;
}

p {
  font-size: 150%;
  font-style: bold;
}

.starting-menu {
  display: flex;
  flex-direction: column;
}

.lets-cook-button {
  background-color: #0fb9b1;
  border: 0;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 10px;
  padding: 9px;
}

.lets-cook-button:active {
  color: #95a5a6;
}

.cookpot {
  position: absolute;
  margin-top: 20px;
  height: 200px;
  width: 160px;
  color: black;
  align-self: center;
}

.suggestions {
  position: absolute;
  /* margin-top: 20px; */
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.suggestions-text {
  font-size: 200%;
  font-style: normal;
  display: flex;
  align-self: center;
}

.clear-button {
  margin-left: 375px;
  margin-top: 320px;
  background-color: #95a5a6;
  color: rgba(225, 225, 225, .9);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  height: 35px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
}

footer {
  display: flex;
  flex-direction: row;
    /* margin-bottom: 40px; */
}

.add-new {
  width: 100%;
  padding: 10px;
  height: 50px;
  margin-left: -10px;
  margin-right: 50px;
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  justify-content: space-evenly;
}

.add-new-button {
  background-color: #0fb9b1;
  border: 0;
  width: 200px;
  border-radius: 10px;
  padding: 9px;
  display: flex;
  align-self: center;
  justify-content: center;
}

em {
  color: #ee5253}
